-----BEGIN CERTIFICATE-----
MIIFezCCA2OgAwIBAgIJAKXt+tS/cR/XMA0GCSqGSIb3DQEBCwUAMFQxCzAJBgNV
BAYTAlhYMRUwEwYDVQQHDAxEZWZhdWx0IENpdHkxHDAaBgNVBAoME0RlZmF1bHQg
Q29tcGFueSBMdGQxEDAOBgNVBAMMB2NvbnRyb2wwHhcNMTcwNTI5MDgzODIxWhcN
MTgwNTI5MDgzODIxWjBUMQswCQYDVQQGEwJYWDEVMBMGA1UEBwwMRGVmYXVsdCBD
aXR5MRwwGgYDVQQKDBNEZWZhdWx0IENvbXBhbnkgTHRkMRAwDgYDVQQDDAdjb250
cm9sMIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAtWUgQPS0yJKwsllY
GRq39eNc8/Vh+NBe7Y+Y2w8fYNnvSPW1xh+0O6UHjoiX4xh5TPm6p5gmTh128eG/
4GiPQfeEpOtQvJKIq1E5OejMdZQq3K4/LouE3qJMeWICI0HBI1W2Q/awRt3vocaw
AWYmg1XteXzlsxH48hu6DFwesItwbSeRAbJherNvLdH89OMUp4IYT5+ckUWZFdR/
NBU50oBPCLxYlpPjJ/pPeUgA+/I7GsMqn+32ZKN+q/xUrHJgiEI75BfQ6c6UTaks
KLYtU9SQ+MFwLLbO8r7HHHUZA7Hrs+Wz+mNggtLP45iTUBkeV4kDdr9BUf+3luLo
W77ykeqHAf0PsmQKi2qngfzQyVJxCrqIcRObz93OILIdHvsdkiGYbZZEjjz3gC6h
5Xi4fQ76JvmxNGOwfAzivTan+q2MuhrTpBjp7THmsdaa6vUX1qVtS8Gxf5IaMoKB
+dey7T1etJ0I8F2A9KCEdXOeDIaJj5AnbSXJDrVhTdpb/yr1/5C8i3Dp6s1kbqw8
zaYmbMBQxV+y3eqKrgnAYh5It0ILRgtiBED9PNNloRFgepn9mXTcSTFKENhh+/7s
m/siAIvsyqFWcK9yiGqf5EH2dOUwKh6ByqRVqm4EwGSOihSgGSXofRmSK5gPKCld
z9Mf6thytA7M1MeJaa24Xl5RNh8CAwEAAaNQME4wHQYDVR0OBBYEFHftzNAh+p+z
eUbzMZ3rpGNGGJdjMB8GA1UdIwQYMBaAFHftzNAh+p+zeUbzMZ3rpGNGGJdjMAwG
A1UdEwQFMAMBAf8wDQYJKoZIhvcNAQELBQADggIBACPbgwj9mgzZGHg8hBJ7orR9
sBvanPQSQw2R4PRdhm578JBVIZ9QMvDLzs5AkEViOl1mvSaJrIGYqx6d7OFoN0oE
zGfSuL4cyP1nZDmQ2Y9mOJvcru79tyjNpLerYJ+7NyJzRmmrWVuKtoW8CiNHWXGS
YA+3ev/AT4eCmb5woZ/BKx4CFBymuBICX/K3uLgEumypXhG5Twubp1wukGS+RtsQ
KmJ4K/HtF5v1YfiYoVP4jplCIHzZKQzWnar+YswbHtHPJvb5M0U960jjloEnZe3C
y7B7kIqnk4QmxqFgOcBA6LfVgWEV4PmKLigJa8A+am6N2fxcG1BJM7Zq+skGGkeZ
Au9+C8/Hb+xKmWH5ZNsTVrtKg0vfKoKuU+4bjn+AzWgwGurTncT3aCzjJjaZvYoV
3snwlQVOLtyl0D0d/BZAhwotMu0BNepvjToQC5LFBtsVqAeSEtM9ZP7uH8jQK5Xr
e4aUy8qnKXzqeqYZl/YfEsVf6bTkCtVJqOW6cI5P3vuFpjxjV81P+CDRAU+IfCRf
S29FnuJ4sylntMc0aVrJlypIwN40CwjazK/4s3tMC82sArAxxtXt+KHEP+9yDA9t
UIyla5g3ci7sKhyW/AR1NjuwLXCiucKjm0TwA2QsayOib7oIHNVcORMv1lxHwiLL
cvUCuP++/9nbFTLpkVEs
-----END CERTIFICATE-----
